

<div class="flex flex-col gap-y-6 w-full max-w-[960px] mx-auto max-w-full " >
    {{ accordion }}
        <div x-data="{ open : false}" :class="open ? 'max-h-[960px] transition-[max-height]' : 'acc-hover transition-[max-height,background,color]'  " class="w-full  duration-300 max-h-20 relative overflow-hidden rounded-md border-2 border-current" >
            <div class="cursor-pointer select-none flex flex-row justify-between items-center gap-x-6  p-4" @click="open = ! open" >
                <div class="text-xl font-bold" >{{ heading }}</div>
                <svg class="w-12 h-12 transition-transform fill-current" :class="open ? 'rotate-[180deg]' : '' " xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
            </div>
            <div class="p-4" x-transition >{{ description }}</div>
        </div>
    {{ /accordion }}
</div>

<style>
    .acc-hover:hover{
        background:{{ text_color }};
        color:{{ group_background }};
    }
</style>