<div class="w-full grid grid-cols-4 lg:grid-cols-3 gap-theme">

    {{ collection from="{ collection_type }" as="items"}}

    {{ items }}
    <div class="col-span-4 md:col-span-2 lg:col-span-1 ">
        {{ partial src="{ collection_type }/listing" }}
    </div>
    {{ /items }}

    {{ if collection_type === 'projects' }}
    <a href="/projecten" class=" col-span-4 lg:col-span-1 p-2 bg-c2 text-c2-text rounded-md text-xl grid place-items-center self-end " >Meer {{ collection_type:label }}</a>
    {{ /if }}

    {{ /collection  from="{ collection_type }" }}

</div>