{{ illustrations }}

<div id="test" style="
    top:{{? echo min($start_y, $end_y) ?}}%; 
    left:{{? echo min($start_x, $end_x) ?}}%;  
    bottom:calc(100% - {{? echo max($end_y, $start_y) ?}}%); 
    right:calc(100% - {{? echo max($end_x, $start_x) ?}}%)
    ;" 
    class="hidden md:block absolute text-current transform -rotate-2 origin-right ">
    <div class="absolute inline top-0 text-right right-0 font-display w-64 transform " >{{ label }}</div>
    <svg width="100%" height="100%" class="transform  {{ start_x > end_x ? 'scale-x-[-1]' : '' }} {{ start_y > end_y ? 'scale-y-[-1]' : '' }}" viewBox="0 0 166 132" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:10;">
        <g transform="matrix(1,0,0,1,-437.606,-2612.48)">
            <g transform="matrix(0.266754,0,0,0.417124,334.163,1533.32)">
                <g transform="matrix(3.74877,-0,-0,2.39737,387.786,2587.15)">
                    <path d="M140.774,106.792L145.201,113.591L140.628,120.291" style="fill:none;stroke:currentcolor;stroke-width:3px;" vector-effect="non-scaling-stroke"/>
                    <path d="M18.125,18.125C18.125,72.368 98.075,112.578 145.201,113.591" style="fill:none;stroke:currentcolor;stroke-width:3px;stroke-linejoin:round;" vector-effect="non-scaling-stroke"/>
                </g>
            </g>
        </g>
    </svg>
</div>  

{{ /illustrations }}