
<div class="space-y-4">
    {{ marketing_list }}
    <div class="flex items-center gap-x-4">
        <div class="rounded-full flex-shrink-0 w-10 h-10 bg-c2 grid place-items-center ">
            <div class="[&>*]:fill-white [&>*]:max-h-[22px] w-6  grid place-items-center" >
                {{ icon }}
            </div>
            
        </div>
        <div class="text-xl font-bold">{{ text }}</div>
    </div>
    {{ /marketing_list }}
</div>
