
<div class="{{ text_full_width ? '' : 'max-w-[75ch]' }}  w-full mx-auto" >
    {{ if text | contains_any('h1')  }}  
        {{ if h1 === 'set' }}
            {{ text | replace('<h1', '<h2 data-heading="1"') | replace('</h1>', '</h2>')  }}
        {{ else }}
            {{ text }} {{ h1 = 'set' }}  
        {{/if}}   
    {{ else }}
        {{ text }}
    {{ /if }}
</div>