<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="/vendor/statamic/frontend/js/helpers.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        {{ mapbox_script }}
    </head>
    {{ partial:layout/dynamic_styles }}
    <body class="bg-gray-100 font-body leading-normal w-screen min-w-screen overflow-x-hidden" >
        {{ if current_url | contains('components') == false }}
            {{ partial:nav }}
        {{ /if }}
        <main>
            {{ template_content }}
        </main>    
    </body>
</html>
{{ if live_preview }}
<script>
    window.addEventListener("message", async (event) => {
        if (event.data.name === "statamic.preview.updated") {
            const text = await fetch(event.data.url).then((res) => res.text());
            const updated = new DOMParser().parseFromString(text, "text/html");
            Alpine.morph(document.body, updated.body);

            var animatedBlocks = document.querySelectorAll("[data-appear]");
            animatedBlocks.forEach((el) => {
                var animation = el.getAttribute("data-appear");
                el.classList.add("appear-" + animation + "-x");
            });
        }
    });
</script>
{{ /if }}