{{ partial:layout/group }}
    {{ partial:layout/row }}
        <div class="w-c6 ml-auto text-right" >

                <img class="w-64 ml-auto mb-12" src="https://studioarkey.nautilus.nl-ams1.upcloudobjects.com/img/studio-arkey-on_grey.svg" /> 

            <h2>
                De Molen 38<br>
                3994 DB Houten
                <br><br>
                hallo@studioarkey.nl
            </h2>
        </div>
    {{ /partial:layout/row }}
{{ /partial:layout/group }}