<nav hx-boost="true" x-data="{ show_mobile : false }" class="w-screen z-50 grid place-items-center sticky top-0 border-black" style="background:{{ settings:color_scheme.1:color }};">
    <div class="w-[1200px] max-w-[100vw] px-theme h-20 flex flex-row items-center justify-between" style="color:{{ settings:color_scheme.1:text_color }};"  >
        {{ nav:main include_home="true" }}
            {{ first ?= '<div class="z-50">'  }}

                <a class="font-body font-semibold text-2xl md:text-xl  {{ !allert ?= 'hover:border-b-current  border-b-2 border-b-c1 ' }}  transition-all {{ allert ?= 'px-2 text-base bg-c2 rounded-md border-2 border-white' }} {{ is_current && allert ?= 'ring-1' }}  {{ is_current && !allert ?= 'border-b-current' }} " href="{{ url }}" >  
                    {{ if is_image and image }}
                        <img class="h-12" src="{{ image:url }}" />
                    {{ else }}
                        {{ title }}
                    {{ /if }}      
                </a>

            {{ if first}} 
            </div>
            <div x-cloak :class="show_mobile ? 'flex' : 'hidden' " class="md:flex z-20 fixed md:relative top-0 left-0 pt-48 md:pt-0 gap-y-12 flex-col md:flex-row h-screen md:h-auto w-screen md:w-auto bg-c1  items-center gap-x-6 md:gap-x-12 transform md:translate-x-0 transition-all">
            {{ /if }}
            {{ last ?= '</div>' }}
          
        {{ /nav:main }}
            <div class="md:hidden z-50 bg-c1-text py-1 px-2 rounded-md text-c1 text-xl  " x-text="show_mobile ? 'Sluiten' : 'Menu'"  @click="show_mobile = ! show_mobile" ></div>
    </div>
</nav>