<a href="{{ url }}" hx-boost="true" class="group block w-full aspect-[4/3] relative">
    <img class="h-full w-full object-cover rounded-lg overflow-hidden shadow-lg" src="{{ media.0:url }}" />
    <div class="absolute bottom-6 left-6 lg:left-auto lg:-right-6 bg-white border-2 border-c1 p-2 rounded-md shadow-md group-hover:transform group-hover:translate-x-2 transition-transform">
        <div class="text-c1"><h3>{{ title }}</h3></div>
        <div class="flex gap-x-2 items-end mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-6 fill-c2" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            <div class="text-c1 font-medium" > {{ location:city }}</div>
        </div>
        
    </div>
</a>