{{ partial:layout/section class="bg-c1" }}
    {{ partial:layout/row class="" }}
        <div class="w-full flex flex-col  rounded-lg overflow-hidden bg-c1-text text-c1 ">
            <div class="flex justify-between ">
                <div class="p-theme">
                    <h1>{{ title }}</h1>
                    {{ content }}
                </div>
                <div  class="flex-grow w-72 flex-shrink-0 relative ">
                    {{ mapbox :lng="location:longitude" :lat="location:latitude" type="street" :zoom="ma_zoom" marker="true" }}
                </div>
            </div>
            <div class="grid grid-cols-3 items-start gap-12 ">
                <div class="col-span-1 space-y-4 p-theme">
                    {{ services }}
                    <div class="flex items-center gap-x-4">
                        <div class="w-8 h-8 grid place-items-center border-2 border-c1 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 fill-c1" viewBox="0 0 448 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                <path
                                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                            </svg>
                        </div>
                        <span class="text-xl font-medium" >{{ title }}</span>
                    </div>
                    {{ /services }}
                    {{ if services_list }}
                    {{ services_list }}
                    <div class="flex items-center gap-x-4">
                        <div class="w-8 h-8 grid place-items-center border-2 border-c1 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 fill-c1" viewBox="0 0 448 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                <path
                                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                            </svg>
                        </div>
                        <span class="text-xl font-medium" >{{ value }}</span>
                    </div>
                    {{ /services_list }}
                    {{ /if }}
                </div>
                <div x-data="{ 'index' : 1 , 'count' : {{ media | count }} }" class="col-span-2">
                    <div class="absolute shadow-lg ">
                        <div class="rounded-lg overflow-hidden ">
                            
                            <div x-ref="gallery" class="flex overflow-x-scroll scrollbar-hide snap-x snap-mandatory">
                                {{ media }}
                                    <div x-intersect.half=" index = {{ count }} "
                                        class="w-full  box-border shrink-0 snap-start">
                                        <img class="w-full h-full object-cover" src="{{ url }}" />
                                    </div>
                                {{ /media }}
                           
                            </div>
                        </div>
                        <div class="absolute flex gap-x-6 right-6 top-6 ">
                            <button :disabled=" index == 1 " @click="$refs.gallery.scrollBy({ top : 0 , left : -500, behavior : 'smooth' });"
                            class="w-12 h-12 bg-black/20 backdrop-blur-sm border-2 border-white rounded-full disabled:opacity-20 grid place-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 fill-white"  viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/></svg>    
                        </button>
                            <button :disabled=" index == count " @click="$refs.gallery.scrollBy({ top : 0 , left : 500, behavior : 'smooth' });"
                            class="w-12 h-12 bg-black/20 backdrop-blur-sm border-2 border-white rounded-full  disabled:opacity-20 grid place-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 fill-white"  viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ /partial:layout/row }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
    {{ partial:layout/divider type="waves" offset="320" background="{ color:bg index="1" }" fill="{{settings:color_scheme.1:color}}" }}
{{ /partial:layout/section }}


{{ partial:layout/section class="h-96" }}

{{ /partial:layout/section }}