<a href="{{ url }}" hx-boost="true" class="group block w-full aspect-[4/3] relative col-span-1">
    <img class="h-full w-full object-cover rounded-lg overflow-hidden shadow-lg" src="{{ image:url }}" />
    <div class="absolute bottom-6 left-6 lg:left-auto lg:-right-6 bg-c1 border-2 border-white rounded-md overflow-hidden shadow-md group-hover:transform group-hover:translate-x-2 transition-transform">
        <div class="flex flex-row items-center">
            <div class="w-12 h-12 bg-c2 " >
               <div class="w-6 mx-auto h-full grid place-items-center [&>*]:fill-white ">
                {{ icon }}
               </div>
            </div>
            <h3 class="px-4 mb-0 text-white ">{{ title }}</h3>
        </div>
    </div>
</a>