@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'leagueSpartan';
    src: url('/resources/fonts/LeagueSpartan-Light.woff2') format('woff2');
    font-weight:300;
    font-style: normal;
    font-display: swap;
    
    }
    @font-face {
        font-family: 'leagueSpartan';
        src: url('/resources/fonts/LeagueSpartan-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
       
    }
    @font-face {
        font-family: 'leagueSpartan';
        src: url('/resources/fonts/LeagueSpartan-Medium.woff2') format('woff2');
        font-weight: 500;
        font-display: swap;
    
    }
    @font-face {
        font-family: 'leagueSpartan';
        src: url('/resources/fonts/LeagueSpartan-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
     
    }
    @font-face {
        font-family: 'leagueSpartan';
        src: url('/resources/fonts/LeagueSpartan-ExtraBold.woff2') format('woff2');
        font-weight: 800;
        font-display: swap;
    
    }
    @font-face {
        font-family: 'leagueSpartan';
        src: url('/resources/fonts/LeagueSpartan-Black.woff2') format('woff2');
        font-weight: 900;
        font-display: swap;
    
    }
    @font-face {
        font-family: 'notoEmoji';
        src: url('/resources/fonts/NotoEmoji-VariableFont_wght.ttf') format('truetype');
        font-weight: 200, 700;
        font-display: swap;
    }

[x-cloak] { display: none !important; }

/* globale padding / goot */
    :root{
        --d-g-padding:32px;
        --d-g-gutter:64px;

        --g-padding:calc(var(--d-g-padding)/2);
        --g-gutter:calc(var(--d-g-gutter)/2);
}
    @screen lg {
        :root{
        --g-padding:var(--d-g-padding);
        --g-gutter:var(--d-g-gutter);
    }
}

h1,[data-heading="1"]{
    @apply text-4xl md:text-5xl lg:text-7xl font-black leading-tight mb-4;
}
h2,[data-heading="2"]{
    @apply text-3xl md:text-4xl lg:text-6xl font-extrabold leading-tight mt-12;
}
h3{
    @apply text-xl md:text-2xl font-bold leading-tight mb-4;
}
p{
    @apply my-4 text-xl font-body font-normal ;
}

ul{
    @apply list-disc list-outside ml-8 ; 
}

.emoji-noto{
    font-family:notoEmoji;
    font-weight:700;

}
.mark{
    @apply inline relative text-white;
}
.mark:after{
    content:"";
    @apply block -left-0.5 right-0 top-0 bottom-0 absolute bg-red-500 -z-10 transform -skew-x-6  rounded-sm;
}