
    
    {{ block_index = index }}
    <div x-data
    {{ if block_design.scroll_animate !='none' }}
    x-intersect="$el.classList.add('appear-{{ scroll_animate }}-x')"
    data-appear="{{ scroll_animate }}"
    {{ /if }}
    {{ if live_preview }} onclick="parent.postMessage({ 'name' : 'click' , 'row' : '{{ row_index }}' , 'block' : '{{ index }}' } ,'*');"{{ /if }}
    class="block_content relative {{ frame ?= 'rounded-md shadow-md overflow-hidden border-2 border-current' }} {{ mobile_first ? 'order-first md:order-none' : '' }} appear-{{ scroll_animate }} relative  {{ distArray.{dist}.{index} }} transition-all "
    style=" 
    {{ frame ?= 'background:{{ settings:color_scheme.{ row:background_color }:text_color }}; color:{{ settings:color_scheme.{ row:background_color }:color }};' }}
    {{ if rotation != 0 }} transform:rotate({{rotation}}deg); {{/if}}   
    ">

    {{ if frame && cover }}
        <div class="w-full h-48 relative" > 
            <img class="h-full w-full object-cover" src="{{ cover:url }}" />
            <div class="absolute left-0 bottom-0 w-full transform scale-y-[-1]">
                {{ partial:layout/divider type="waves" height="12px" fill="{ settings:color_scheme.{row:background_color}:text_color }" }}   
            </div>
        </div>   
    {{ /if }}

    <div class="{{ frame ?= 'p-theme' }}">
        {{ block_content }}
            {{ partial src="components/{type}" }}
        {{ /block_content }}
    </div>

    {{ if live_preview }}
        <div
            class="absolute opacity-0 hover:opacity-100 w-[calc(100%+24px)] h-[calc(100%+24px)] left-[50%] top-[50%] transform translate-x-[-50%] translate-y-[-50%] border-2 border-red-500 rounded-md mix-blend-exclusion ">
        </div>
    {{ /if }}

</div>
{{ if scroll_animate && scroll_animate != 'none' }}
    {{ partial src="appear/{scroll_animate}" }}
{{ /if }}