{{ form:{form} id="form_{form}" x-data="" x-ref="form_{form}" x-init="$el.reset()" hx-select="#form_{form}" hx-boost="true" hx-trigger="submit" hx-target="#form_{form}"  hx-swap="show:none"  js="alpine"}}


    <div class="relative flex flex-row flex-wrap gap-y-4 justify-between">

        {{ if success }}
            <div x-data="{ open : true }" id="success" x-init="party.confetti($el,{count: party.variation.range(80, 100)})" x-show="open" x-transition class="absolute top-0 left-0 min-h-full bg-c1 text-white w-full p-8 flex flex-col justify-start items-start">
                <div @click="open = false" class="inline select-none cursor-pointer ml-auto text-base px-1 border-current border rounded-md" >Sluiten</div>
                {{ form:submission }}
                <h3>Bedankt {{ naam ?? name ?? voornaam ?? first_name }}!</h3>
                <p>
                    We hebben je bericht ontvangen. 
                    <br><br>
                    Een bevestiging is verzonden naar: {{ email ?? e-mail ?? e_mail }}.
                    <br><br>
                    Wij gaan je bellen!
                </p>
                 {{ /form:submission }}

            </div>
        {{ /if }}

        {{ fields }}
            <div key="{{index}}" x-show="{{ show_field }}" x-transition class="w-full md:w-auto" style="min-width:calc({{width}}% - (1 - {{ width }}/100)*16px);">
                <label class="text-current">{{ display }}</label>
                <div class="p-1" >{{ field }}</div>
                {{ if error }}
                 <div class="text-sm text-c2 ">{{ error }}</div>
                {{ /if }}
            </div>



        {{ /fields }}

        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
        
        <div class="w-full">
            <button style="" class="bg-c1 border-white border-2 mx-auto transition-all h-12 rounded-md w-full grid place-items-center " id="submit" type="submit">
                <span class="submit-label  text-white font-bold" >Verzenden</span>
                <div class="htmx-indicator animate-bounce w-6 " >
                    {{ svg src="/icons/solid/paper-plane" class="fill-white h-full w-auto" }}
                </div>
            </button>
        </div>
 
    </div>
{{ /form:{form} }}

<style>
    .htmx-indicator{
        display:none;
    }
    form.htmx-request {
        pointer-events: none;
    }
    form.htmx-request input,
    form.htmx-request textarea,
    form.htmx-request select{
        opacity: 0.5;
    }
    form.htmx-request button[type="submit"]{
        width:48px;
    }
    form.htmx-request .submit-label{
        display: none;
    }
    form.htmx-request .htmx-indicator{
        display:block;
    }

</style>