<template>
    <div class="input-group max-w-[130px]">
        <popover ref="popover" name="swatches" class="color-picker" placement="bottom-start" :autoclose="autoclose">
            <template #trigger>
                <div
                    class="input-group-prepend px-px"
                    v-tooltip="__('Pick Color')"
                >
                    <div class="relative flex items-center outline-none">
                        <div class="inline-block cursor-pointer rounded m-0 p-[2px]">
                            <div
                                class="rounded-sm w-8 h-8"
                                :class="{ 'border': !value, 'cursor-not-allowed': isReadOnly }"
                                :style="{ 'background-color': current }"
                            />
                        </div>
                    </div>
                </div>
            </template>
            <template>
                <div class="p-4">
                    <div  class="grid grid-cols-4 gap-3">
                        <div
                            v-for="(swatch,index) in this.meta"
                            class="w-10 h-10 inline-block cursor-pointer rounded flex border border-gray-400"
                            :style="{ 'background-color': swatch }"
                            @click.stop="() => { update(index); closePopover() }"
                        >
                            <div
                                v-if="index === value"
                                class="flex items-center justify-center h-full w-full"
                            >
                                <div class="w-5 h-5 rounded-full bg-black/10 flex items-center justify-center">
                                    <svg version="1.1" role="presentation" width="12" height="12" viewBox="0 0 1792 1792" class="text-white fill-current"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" ></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        v-if="config.allow_any"
                        class="flex items-center"
                        :class="{ 'mt-5': this.meta.length }"
                    >
                        <input
                            class="h-10 w-full cursor-pointer input-text w-full rounded p-[2px] mr-2"
                            type="color"
                            :value="customColor"
                            @input="customColorSelected"
                        />
                        <button
                            class="btn btn-primary h-10 px-2"
                            v-text="__('OK')"
                            @click="() => { commitCustomColor(); closePopover() }"
                        />
                    </div>
                </div>
            </template>
        </popover>

    </div>
</template>

<script>
export default {

    mixins: [Fieldtype],

    data () {
        return {
            customColor: this.value,
            close:false
        }
    },

    watch: {

        value(value) {
            this.customColor = value;
        },

    },

    computed: {

        replicatorPreview() {
            return this.value
                ? `<span class="little-dot" style="background-color:${this.value}"></span>`
                : null;
        },
        current(){
            return this.meta[this.value];
        }

    },

    methods: {

        customColorSelected(event) {
            this.customColor = event.target.value;
        },

        commitCustomColor() {
            this.update(this.customColor);
        },
        closePopover(){
            //target popover with ref attribute
            this.$refs.popover.close() 
        }

    }

};
</script>
